<div class="menu-haute" ng-include="'/static/template/fragment/header-client.html'"></div>

<div class="container-fluid body-page" ng-controller="homeClient">
    
    <h1 class="text-center title">Vos demandes</h1>
    
    <div ng-if="demandes.length===0">
        <div class="well well-lg">vous n'avez faites aucun demande click sur ajouter demande</div>
    </div>
    
    <div ng-if="demandes.length !== 0">
        <table class="table table-hover table-centre">
            <tr>
                <td>
                    identificateur de la demande
                </td>
                <td>
                    date
                </td>
                <td>
                    état
                </td>
            </tr>
            <tr ng-repeat="demande in demandes">
                <td ng-bind="demande.id"></td>
                <td ng-bind="demande.dateDemande | dateServeur | date:'dd/MM/yyyy'"></td>
                <td ng-bind="demande.etat"></td>
            </tr>
        </table>
    </div>
    
</div>
