<div class="menu-haute" ng-include="'/static/template/fragment/header-client.html'"></div>

<div class="container-fluid body-page" ng-controller="homeClient">
    
    <h1>presations</h1>
    
    <div class="center-block col-md-6">
        <div class="col-xs-12" ng-repeat="prestation in prestations">
            <img class="col-xs-4" ng-src="[[[prestation.urlImage]]]"/>
            <span class="col-xs-2" ng-bind="prestation.nom"></span>
            <span class="col-xs-4" ng-bind="prestation.description"></span>
        </div>
        <div class="col-xs-12">
            <a class="center-block btn btn-success" href="#/creer-demande">demander maintenant</a>
        </div>
    </div>
    
    
</div>
