<div class='form-group question-div row' ng-show="show" ng-class="class">
    <label class='col-sm-8 control-label' ng-show="!pourTable">
        <p class='text-left' translate="[[[ennonce]]]"></p>
    </label>
    <div ng-class="{'col-xs-12' : pourTable , 'col-sm-3':!pourTable}">
        <div class='input-group'>
            <input type="text" class="form-control" 
                   uib-datepicker-popup="dd/MM/yyyy" date-picker=""
                   ng-model="reponseObj.reponse" is-open="isOpen"
                    ng-required="true" close-text="Close" 
                     />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="isOpen= true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </div>
    </div>
</div>