<div class="menu-haute center-block col-md-10" ng-include="'/static/template/fragment/header-agent_technique.html'"></div>

<div class="body-page col-md-10 center-block" ng-controller="homeAgentTechnique">
        
    <div class="container-fluid">
    
        <h1 class="text-center title" ng-if="etat==='nouvelle'">les nouvelles demandes</h1>
        <h1 class="text-center title" ng-if="etat==='encours'">les demandes en cours</h1>
        <h1 class="text-center title" ng-if="etat==='réglée'">les demandes réglée</h1>


        
        <div ng-if="demandes.length===0">
            <div class="well well-lg">aucun demandes n'a été trouvé</div>
        </div>

        <div ng-if="demandes.length !== 0">
            <div class="demande col-xs-12">
                <div class="col-xs-2 text-danger">
                    description de la demande
                </div>
                <div class="col-xs-1 text-danger">
                    date
                </div>
                <div class="col-xs-3 text-danger">
                    informations du client
                </div>
                <div class="col-xs-2 text-danger">
                    Les préstations demandées
                </div>
            </div>
            <div ng-repeat="demande in demandes" class="col-xs-12 demande">
                <div class="col-xs-2">
                    <span ng-bind="demande.description"></span>
                </div>
                <div class="col-xs-1">
                    <span ng-bind="demande.datePrestation | dateServeur | date:'dd/MM/yyyy'"></span>
                </div>
                <div class="col-xs-3">
                    <p>[[[demande.client.nom]]] [[[demande.client.prenom]]]</p>
                    <p>adresse : [[[demande.client.adresse]]]</p>
                    <p>Téléphone : [[[demande.client.tel]]]</p>
                </div>
                <div class="col-xs-2">
                    <p ng-repeat="prestation in demande.prestations" ng-bind="prestation.nom"></p>
                </div>
                <div class="col-xs-4" ng-if="etat === 'réglée' || etat==='validée'">
                    <table class="table table-hover table-centre">
                        <tr>
                            <th>prestation</th>
                            <th>montant</th>
                        </tr>
                        <tr ng-repeat="ligneDevis in demande.devis.lignesdevis">
                            <td ng-bind="ligneDevis.prestation.nom"></td>
                            <td ng-bind="ligneDevis.montant+' DH'"></td>
                        </tr>
                    </table>
                    <div class="col-xs-6">montant total</div>
                    <div class="col-xs-6 text-danger" ng-bind="demande.devis.montantTotal+' DH'"></div>
                </div>
                <div class="col-xs-3" ng-if="etat === 'nouvelle'">
                    <input type="button" ng-click="accepter(demande)"
                           class="btn btn-success" value="accepter"/>
                    <input type="button" ng-click="refuser(demande)"
                           class="btn btn-danger" value="annuler"/>
                </div>
                <div class="col-xs-3" ng-if="etat === 'encours'">
                    <input type="button" ng-click="etablirDevis(demande)"
                           class="btn btn-success" value="Etablir devis"/>
                </div>
                <div class="col-xs-3" ng-if="etat === 'réglée'">
                    <input type="button" ng-click="accepterDevis(demande)"
                           class="btn btn-success" value="générer la commande"/>
                </div>
            </div>
        </div>
   
    </div>
    
</div>
