
<div class="menu-haute" ng-include="'/static/template/fragment/header-admin.html'"></div>


<div class="container-fluid">
    <div class="col-sm-3 menu-gauche">
        <div ng-include="'/static/template/fragment/menu-gauche-admin.html'"></div>
    </div>
    <div class="col-sm-9 body-page">
        <div id="homeAdmin" class="margin-bottom margin-top">
            <div class="task-admin margin-bottom">
                <a href="#/gestionmedecins" class="btn btn-default">
                    <i class="glyphicon glyphicon-tasks"></i>
                    <span translate="GESTION_MEDECIN"></span>
                </a>
            </div>
            <div class="task-admin margin-bottom">
                <a href="#/gestioncentres" class="btn btn-default">
                    <i class="glyphicon glyphicon-tasks"></i>
                    <span translate="GESTION_CENTRE"></span>
                </a>
            </div>
            <div class="task-admin margin-bottom">
                <a href="#/gestiontechniciens" class="btn btn-default">
                    <i class="glyphicon glyphicon-tasks"></i>
                    <span translate="GESTION_TECHNICIEN"></span>
                </a>
            </div>
            <div class="task-admin margin-bottom">
                <a href="#/gestionarcs" class="btn btn-default">
                    <i class="glyphicon glyphicon-tasks"></i>
                    <span translate="GESTION_ARC"></span>
                </a>
            </div>
        </div>
    </div>
</div>




