<div class='form-group question-div row' ng-class="class" ng-show="show">
    <label class='col-sm-8 control-label' ng-show="!pourTable">
        <p class='text-left' translate="[[[ennonce]]]"></p>
    </label>
    <div ng-class="{'col-xs-12' : pourTable , 'col-sm-4':!pourTable}">
        <div class="input-group">
            <rzslider rz-slider-model="reponseObj.reponse"
                rz-slider-options="slider.options"></rzslider>
            <span class="input-group-btn">
                 <button type="button" class="btn btn-checkbox" ng-model="reponseObj.DM" 
                        uib-btn-checkbox translate="DM">
                </button>
            </span>
        </div>
    </div>
</div>