<div class="modal-header">
    <h3 class="modal-title">choisir un expert</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-4">
                <p class="text-left">Expert</p>
            </label>
            <div class="col-xs-6">
                <select class="form-control" ng-model="expertChosie" ng-options="expert.nom for expert in experts">

                </select>
            </div>
        </div>
    </form>
</div>


<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">CANCEL</button>
</div>