<div class="modal-header">
    <h3 class="modal-title">choisir un expert</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label col-xs-4">
            <p class="text-left">Expert</p>
        </label>
        <div class="col-xs-6">
            <option ng-model="expertChosie" ng-options="expert.nom for expert in experts">
                
            </option>
        </div>
    </div>
</div>


<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">CANCEL</button>
</div>