<div class="modal-header">
    <h3 class="modal-title" translate="ADD_CENTRE"></h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="addCentre" novalidate="">
        <div class='form-group' erreur="">
            <label class='col-sm-3 control-label '>
                <p class="text-left" translate="NOM"></p>
            </label>
            <div class="col-sm-9">
               <input type="text" ng-model="centre.nom"  name="nom"
                      validation="" regex="^[A-Za-z ]{2,25}$" class="form-control" required=""/>
            </div>
        </div>
        <div class="form-group" erreur="">
            <label class="col-sm-3 control-label ">
                <p class="text-left" translate="ADRESSE"></p>
            </label>
            <div class="col-sm-9">
                <input type="text" ng-model="centre.adresse"  name="adresse"
                       validation="" regex="^[A-Za-z0-9 ]{2,100}$" class="form-control" required="" />
            </div>
        </div>
        <div class="form-group" erreur="">
            <label class="col-sm-3 control-label ">
                <p class="text-left" translate="TELEPHONE"></p>
            </label>
            <div class="col-sm-9">
                    <input type="tel" name="tel"
                           validation="" regex="^[0-9]{10,15}$"
                           ng-model="centre.tel" class="form-control" required="" />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(addCentre)" translate="OK"></button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" translate="CANCEL"></button>
</div>