<div class="container-fluid" ng-controller="profileUser">
    <label class="alert alert-success" ng-show="user.isNew" translate="MESSAGE_NEW_USER"></label>
    <form class="form-horizontal" name="userForm" novalidate="">
        <div class='form-group' erreur="">
            <label class='col-sm-4 control-label '><p class="text-left" translate="NOM"></p></label>
            <div class="col-sm-6">
                <input type="text" ng-model="user.nom" name="nom"
                       validation="" regex="^[A-Za-z ]{2,25}$" class="form-control" required=""/>
            </div>
        </div>
        <div class="form-group" erreur="">
            <label class="col-sm-4 control-label "><p class="text-left" translate="PRENOM"></p></label>
            <div class="col-sm-6">
                
                <input type="text" ng-model="user.prenom" name="prenom"
                       validation="" regex="^[A-Za-z ]{2,25}$" class="form-control" required=""/>
            </div>
        </div>
        <div class="form-group" erreur="">
            <label class="col-sm-4 control-label "><p class="text-left" translate="EMAIL"></p></label>
            <div class="col-sm-6">
                
                <input type="email" ng-model="user.email" name="email"
                       validation=""
                       regex="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" class="form-control" required=""/>
            </div>
        </div>
        <div class="form-group" erreur="">
            <label class="col-sm-4 control-label "><p class="text-left" translate="TELEPHONE"></p></label>
            <div class="col-sm-6">
                
                <input type="tel" ng-model="user.tel"  name="tel"
                       validation="" regex="^[0-9]{10,15}$" class="form-control" required="" />
            </div>
        </div>
        <div class="form-group right">
            <button class="btn btn-primary" type="button" ng-click="enregistrer()" translate="ENREGISTRE"></button>
        </div>
    </form>
    <form class="form-horizontal" name="passwordForm" novalidate>
        <div class="form-group" erreur="">
            <label class="col-sm-5 control-label ">
                <p class="text-left" translate="NEW_PASSWORD">
                </p>
            </label>
            <div class="col-sm-4">
                <input type="password" name="password" 
                       ng-model="userPassword.password" class="form-control" 
                       validation="" regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,25}$" required=""/>
            </div>
        </div>
        <div class="form-group" erreur="">
            <label class="col-sm-5 control-label ">
                <p class="text-left" translate="REPEAT_NEW_PASSWORD">
                </p>
            </label>
            <div class="col-sm-4">
                <input type="password" name="passwordRepeat" 
                       ng-model="userPassword.passwordRepeat" class="form-control" 
                       validation="" valeur="[[[userPassword.password]]]" required="" />
            </div>
        </div>
        <div class="form-group right">
            <button class="btn btn-primary" type="button" ng-click="changerMotDePass()" translate="CHANGER_PASSWORD"></button>
        </div>
    </form>
</div>