
<div class="menu-haute" ng-include="'/static/template/fragment/header-admin.html'"></div>


<div class="container-fluid">
    <div class="col-sm-3 menu-gauche">
        <div ng-include="'/static/template/fragment/menu-gauche-admin.html'"></div>
    </div>
    <div class="col-sm-9 body-page">

        <legend translate="GESTION_ARCS"></legend>
        <div ng-controller="gestionARCs">
            <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Etat compte</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='ARC in ARCs'>
                    <td>[[[ARC.nom]]]</td>
                    <td>[[[ARC.prenom]]]</td>
                    <td>[[[ARC.email]]]</td>
                    <td>[[[ARC.tel]]]</td>
                    <td>
                        <label class="btn btn-success" ng-if="ARC.isActive" translate="ACTIVER"></label>
                         <label class="btn btn-danger" ng-if="!ARC.isActive" translate="DESACTIVER"></label>
                    </td>
                    <td>
                        <button ng-click='modifier(ARC)' class='btn-success btn-supprimer-admin'>
                            <i class='glyphicon glyphicon-pencil'></i>
                        </button>
                    </td>
                    <td>
                        <button ng-click='supprimer(ARC)' class='btn-danger btn-supprimer-admin'>
                            <i class='glyphicon glyphicon-remove'></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
            </table> 
        </div>

    </div>
</div>