<div class="menu-haute" ng-include="'/static/template/fragment/header-super-admin.html'"></div>

<div class="container-fluid">
    
    <div class="body-page"> 

        <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Compte Activé</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='admin in admins'>
        <td>[[[admin.nom]]]</td>
        <td>[[[admin.prenom]]]</td>
        <td>[[[admin.email]]]</td>
        <td>[[[admin.tel]]]</td>
        <td>
            <label class="btn btn-success" ng-if="admin.isActive" translate="ACTIVER"></label>
            <label class="btn btn-danger" ng-if="!admin.isActive" translate="DESACTIVER"></label>
        </td>
        <td>
            <button ng-click='modifier(admin)' class='btn-success btn-supprimer-admin'>
                <i class='glyphicon glyphicon-pencil'></i>
            </button>
        </td>
        <td>
            <button ng-click='supprimer(admin)' class='btn-danger btn-supprimer-admin'>
                <i class='glyphicon glyphicon-remove'></i>
            </button>
        </td>
      </tr>
    </tbody>
</table> 
        
    </div>
</div>